.Dashboard{
    border-top: 5px solid black;
    table{
        margin-top: 20px;
    }
    &__data{
        padding: 20px 0px;
        text-align: center;
        width: 50%;
        margin: 0px auto;
        input{
            cursor: pointer;
            text-align: center;
            padding: 10px 20px;
            font-size: 20px;
            width: 100%;
        }
    }
}

.pagination{
    padding: 20px;
    &__body{
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            margin: 0px 10px;
            padding: 5px 10px;
        }
    }
}

.btns{
    display: flex;
    justify-content: end;
    margin: 20px 0px;
    &__item{
        margin-left: 10px;
    }
}

.workTask {
  border-radius: 4px;
  padding: 10px;

  .workTasc__title {
    font-weight: bold;
    margin-bottom: 6px;
  }

  .workTasc__time {
    color: #555;
    margin-bottom: 4px;
  }

  .workTasc__note {
    color: #333;
  }
}
