.Arbeitsplane {
    height: 100%;
    border-top: 2px solid rgb(58, 57, 57);

    &__content {
        display: flex;
        height: 100%;
        &_left {
            padding-top: 50px;
            border-right: 2px solid rgb(58, 57, 57);
        }

        &_right {
            flex-grow: 1;
            padding: 50px 0px 0px 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

}


.employees {
    margin-right: 100px;
    &__body{
        li.item {
            padding: 5px 20px;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: rgb(11, 172, 11);
                left: 0;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
   
}


.list {
    &__list {
        li.item {
            padding:7px 0px 7px 30px;
            position: relative;

            &.check::before {
                content: '✔'; 
                font-size: 14px;
                color: white;
                background-color: rgb(11, 172, 11);
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%; 
            }

            &.cross::before {
                content: '✖'; 
                font-size: 14px;
                color: red;
                border: 3px solid red;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 3px; 
            }
        }
    }
}

.data{
    display: flex;
    justify-content: end;
    &__container{
        display: flex;
        align-items: center;
        &_text{
            font-size: 18px;
            margin-right: 10px;
        }
        &_select{
            width: 15vw;
            input{
                cursor: pointer;
                text-align: center;
                font-size: 16px;
                width: 100%;
                padding: 5px;
            }
        }
    }
}
.btns{
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    &__item{
        margin-left: 10px;
    }
}

.form{
    // padding-top: 0;
}