.logIn{}
.logHeader{
    padding: 20px;
    &__img{
        width: 35%;
        margin: 0 auto;
    }
}

.logMain{
    form{
        text-align: center;
        margin: 100px auto 0px auto;
        h2{
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 50px;
        }
        fieldset{
            display: block;
            flex-direction: column;
            border: none;
            label{
                font-size: 28px;
            }
            input{
                margin-bottom: 20px;
                border-radius: 30px;
                padding:7px 20px;
                font-size: 16px;
                // width: 70%;

            }
        }
        button{
            cursor: pointer;
            background-color: white;
            border: none;
            font-size: 25px;
            font-weight: bold;
            text-transform: capitalize;
        }
    }
}