.Kunden {
    height: 100%;
    border-top: 2px solid rgb(58, 57, 57);

    &__content {
        display: flex;
        height: 100%;
        &_left {
            padding-top: 50px;
            border-right: 2px solid rgb(58, 57, 57);
        }

        &_right {
            flex-grow: 1;
            padding: 50px 0px 0px 30px;
            position: relative;
        }
    }

}

.employees{
    margin-right: 100px;
}

.btns{
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: end;
    &__item{
        margin-left: 10px;
    }
}

.form{
    max-width: 100%;
    fieldset{
        div{
            width: 100%;
            padding: 5px;
        }
    }
    &__btns{
        justify-content: end;
    }
}

.table{
    &__title{
        margin-bottom: 10px;
    }
    table{
        tbody{
            tr{
                td{
                    position: relative;
                    .isWorker{
                        position: absolute;
                        top: 10px;
                        left: -10px;
                    }
                    .img{
                        height: 25px;
                        width: 25px;
                        cursor: pointer;
                        margin: 0px auto;
                    }
                    select{
                        width: 90%;
                        padding: 10px 5px ;
                        border-radius: 5px;
                    }
                }
                td:first-child{
                    text-align: start;
                }
            }
        }
    }

    &__btnAdd{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        &_btn{
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%; 
            background-color: rgb(11, 172, 11);
            color: white;
            font-size: 50px;

            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }
    }
}